<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <div class="row-8 m-1 p-1">
            <h1>Map it!</h1>
        </div>
        <div class="row-8 m-1 p-1">
            <h3>Learn your states with this fun interactive game!</h3>
        </div>
        <div class="row-8 m-1 p-1">
            <h2 id="current-state"></h2>
        </div>
        <div class="row-8 m-1 p-1">
            <h4 class="stopwatch">00:00:00</h4>
            <button type="button" onclick="location.reload();" class="btn btn-primary">Reset Game</button>
        </div>
        <div class="progress">
            <div id="progress" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="m-2 p-2" id="container"></div>
    </div>

<script src="../static/js/raphael-min.js"></script>
<script src="../static/js/us-map-svg.js"></script>
<script src="../static/script.js"></script>

</body>
</html>